.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
} 

.auth-form-container {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: -20px;  
}

h2 {
  text-align: center;
  color: #7b68ee;
  font-weight: bold;
  font-size: 50px;
  margin: 30px;
} 

input {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  padding-left: 20px; 
  margin: 5px;
  font-size: 20px;
  border-color: black;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  color: white;
  background-color: #7b68ee;
  border-color: black;
  text-align: center;
  position: relative;
  left: 50px;
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}