.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
} 

.auth-form-container {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: -20px;  
}

h2 {
  text-align: center;
  color: #9932cc;
  font-size: 50px;
} 

input {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  padding-left: 20px; 
  margin: 5px;
  font-size: 15px;
  border-color: black;
}